@charset "UTF-8";
/*Add a google font possibly here*/

/* set the box sizing and make it inherit */
html{
	box-sizing: border-box;
  max-width: 1440px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  background-color: rgb(245, 227, 247); 
}
*, *:before, *:after {
	box-sizing: inherit;
}
/*Add a style section for smaller screens like phones */
@media (max-width: 600px) {

}
/*section for larger screens*/
@media (min-width: 600px), (max-width: 1440px) {
  
} 
/*Best approach will be to use a grid while using some flex inside for 
different elements*/
body {

}