@charset "UTF-8";
/*Add a google font possibly here*/

/* set the box sizing and make it inherit */
html{
	box-sizing: border-box;
  max-width: 1440px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  background-color: rgb(236, 103, 251); 
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*Best approach will be to use a grid while using some flex inside for 
different elements*/
body {
  display: grid;
  /*set the first column larger for the main stuff*/
  grid-template-columns: 2fr 1fr;
  /* Tentative layout
  with column1 then column 2 (extra space just for clarity)*/
  grid-template-areas:
  "header header"
  "nav    nav"
  "main   sidebar-top"
  "main   sidebar-bottom"
  "footer footer";
  grid-template-rows: auto auto auto auto auto;
  gap: 1rem;
  background-color: rgb(240, 178, 247);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/*assign the different parts to their sections of the grid*/
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
/*set the asides as flex to try and bring them closer together*/
body > aside:first-of-type {
  grid-area: sidebar-top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}
body > aside:last-of-type {
  grid-area: sidebar-bottom;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

footer.page-footer {
  grid-area: footer;
}
/*Change the nav to be horizonatal*/
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  
  
}
/* Add spacing between the list items*/
nav ul li {
  margin-right: 10px;
  padding: .5rem 1rem;
  background-color: #2E8B57;
  color: black;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgb(114, 103, 103);
}
nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
nav ul li a:visited {
  text-decoration: none;;
  color: rgb(245, 240, 113);
  cursor: pointer;
}

/*set the annoying star to be smaller*/
header .container a.link-github svg {
  width: 1.5em;
  height: 1.5em;
}
/* target the star in the footer*/
footer.page-footer ul li:nth-child(2) a.link-github svg {
  width: 1.5em;
  height: 1.5em;
}

h1 {
  margin-top: 0;
}
header {
  background-color: #8FBC8F;
  padding: 2rem;
}
main {
  background-color: antiquewhite;
  padding: 2rem;
}
aside{
  background-color: bisque;
  padding: 2rem;
}
footer.page-footer {
  background-color: #8FBC8F;
  padding: 2rem;
}
blockquote {
  padding-left: 2rem;
  padding-right: 2rem;
  border: 2px solid lightgray;
  outline: 2px solid darkgray;
  outline-offset: 2px;
  background-color: #f9f9f9;
}
/*use the :not psuedo class to ensure our nav links are left as is*/
a:not(nav a) {
  color: #800080;
  text-decoration: none;
  cursor: pointer;
}
a:not(nav a):visited {
  color: #006400;
  text-decoration: none;
  cursor: pointer;
}
a:not(nav a):hover {
  color: #9400d3;
  text-decoration: underline;
  cursor: pointer;
}
/*lets make it obvious if they have a link in focus*/
a:not(nav a):focus {
  color: #ffff00;
  text-decoration: underline;
  cursor: pointer;
  outline: 2px solid #ffff00;
  outline-offset: 2px;

}
h2{
  color: rgb(236, 103, 251);
}
header h2 {
  color: #36454f;
}
h3 {
  color: rgba(236, 103, 251, 0.8);
}
h4 {
  color: #696969;
}
strong {
  color: #c71585;
  font-weight: bold;
}
aside ul {
  list-style-type: none;
  
}
main ul {
  list-style-type: none;
}
/* add a flower(cherry blossom) type bullet point with unicode, maybe colour it*/
main ul li::before {
  content: "\1F338";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-right: 0.6em;
}
aside ul li::before {
  content: "\273F";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-right: 0.6em;
  color: #a8bca8;
}
h1 {
  color: #c71585;
  
}
/*Add a style section for smaller screens like phones */
@media only screen and (max-width: 600px){
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "sidebar-top"
      "sidebar-bottom"
      "footer";
    grid-template-rows: auto auto auto auto auto auto;
    gap: 1rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.7rem;
  }
  nav ul li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    padding: 0.7rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }  
}
/*section for larger screens*/
/* @media only screen and (min-width: 600px) and (max-width: 1440px) {
  
}  */
/* sites used: for the unicodes https://symbl.cc/en/unicode-table/
also this for the unicodes https://www.vertex42.com/ExcelTips/unicode-symbols.html (for the unicode numbers)
MDN for tons of info on many different things https://developer.mozilla.org/en-US/docs/Web/CSS
And this colour picker, along with the basic google colour picker https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_colors/Color_picker_tool
https://www.google.com/search?q=colorpicker&sca_esv=d8f8ca26d9b374a1&rlz=1C1QCTP_enCA1118CA1126&sxsrf=AHTn8zoJEvND0rLDGkeYkYTXFS27rO4pog%3A1745122950072&ei=hnYEaLeTBJKvptQPwrSa-AM&ved=0ahUKEwi37pzM4eWMAxWSl4kEHUKaBj8Q4dUDCBA&uact=5&oq=colorpicker&gs_lp=Egxnd3Mtd2l6LXNlcnAiC2NvbG9ycGlja2VyMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMg0QABiABBiwAxhDGIoFMg0QABiABBiwAxhDGIoFSOkNUABYAHABeAGQAQCYAQCgAQCqAQC4AQPIAQCYAgGgAgSYAwCIBgGQBgqSBwExoAcAsgcAuAcA&sclient=gws-wiz-serp
Oh and a bit of referenceing from w3schools https://www.w3schools.com/css/css3_flexbox_container.asp
*/