@charset "UTF-8";
/*Add a google font possibly here*/

/* set the box sizing and make it inherit */
html{
	box-sizing: border-box;
  max-width: 1440px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  background-color: rgb(236, 103, 251); 
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*Best approach will be to use a grid while using some flex inside for 
different elements*/
body {
  display: grid;
  /*set the first column larger for the main stuff*/
  grid-template-columns: 2fr 1fr;
  /* Tentative layout
  with column1 then column 2 (extra space just for clarity)*/
  grid-template-areas:
  "header header"
  "nav    nav"
  "main   sidebar-top"
  "main   sidebar-bottom"
  "footer footer";
  grid-template-rows: auto auto auto auto auto;
  gap: 1rem;
  background-color: rgb(240, 178, 247);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/*assign the different parts to their sections of the grid*/
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
/*set the asides as flex to try and bring them closer together*/
body > aside:first-of-type {
  grid-area: sidebar-top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}
body > aside:last-of-type {
  grid-area: sidebar-bottom;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

footer.page-footer {
  grid-area: footer;
}
/*Change the nav to be horizonatal*/
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  
  
}
/* Add spacing between the list items*/
nav ul li {
  margin-right: 10px;
  padding: .5rem 1rem;
  background-color: #2E8B57;
  color: black;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgb(114, 103, 103);
}
nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
nav ul li a:visited {
  text-decoration: none;;
  color: rgb(245, 240, 113);
  cursor: pointer;
}

/*set the annoying star to be smaller*/
header .container a.link-github svg {
  width: 1.5em;
  height: 1.5em;
}
/* target the star in the footer*/
footer.page-footer ul li:nth-child(2) a.link-github svg {
  width: 1.5em;
  height: 1.5em;
}

h1 {
  margin-top: 0;
}
header {
  background-color: #8FBC8F;
  padding: 2rem;
}
main {
  background-color: antiquewhite;
  padding: 2rem;
}
aside{
  background-color: bisque;
  padding: 2rem;
}
footer.page-footer {
  background-color: #8FBC8F;
  padding: 2rem;
}
blockquote {
  padding-left: 2rem;
  padding-right: 2rem;
  border: 2px solid lightgray;
  outline: 2px solid darkgray;
  outline-offset: 2px;
  background-color: #f9f9f9;
}
/*use the :not psuedo class to ensure our nav links are left as is*/
a:not(nav a) {
  color: #800080;
  text-decoration: none;
  cursor: pointer;
}
a:not(nav a):visited {
  color: #006400;
  text-decoration: none;
  cursor: pointer;
}
a:not(nav a):hover {
  color: #9400d3;
  text-decoration: underline;
  cursor: pointer;
}
/*lets make it obvious if they have a link in focus*/
a:not(nav a):focus {
  color: #ffff00;
  text-decoration: underline;
  cursor: pointer;
  outline: 2px solid #ffff00;
  outline-offset: 2px;

}
h2{
  color: rgb(236, 103, 251);
}
header h2 {
  color: #36454f;
}
h3 {
  color: rgba(236, 103, 251, 0.8);
}
h4 {
  color: #696969;
}
strong {
  color: #c71585;
  font-weight: bold;
}
aside ul {
  list-style-type: circle;
}
main ul {
  list-style-type: none;
}
/* add a flower type bullet point with unicode, maybe colour it*/
main ul li {
  
}
/*Add a style section for smaller screens like phones */
@media (max-width: 600px), (orientation: landscape) {

}
/*section for larger screens*/
@media (min-width: 600px), (max-width: 1440px) {
  
} 